@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.background.light");
  --text: theme("colors.text.light");
}

.dark {
  --background: theme("colors.background.dark");
  --text: theme("colors.text.dark");
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

/* Swiper styles */
.swiper-button-next,
.swiper-button-prev {
  color: #3b82f6 !important;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  margin-top: -20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px !important;
}

.swiper-pagination-bullet {
  background: #3b82f6 !important;
}

.swiper-pagination-bullet-active {
  background: #3b82f6 !important;
}

/* Убираем лишние отступы в Swiper */
.swiper-wrapper {
  align-items: flex-start !important;
  height: auto !important;
}

.swiper-slide {
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
}

.swiper {
  height: auto !important;
}
